# Allow installing dependencies in workspace root without -w flag
ignore-workspace-root-check=true

# Use strict peer dependencies
strict-peer-dependencies=false

# Hoist all dependencies to root node_modules
shamefully-hoist=false

# Auto install peers
auto-install-peers=true

